# Ignore virtual envs
.venv/
venv/
env/

# Ignore git and IDE configs
.git/
.vscode/
.idea/

# Ignore caches and compiled files
__pycache__/
*.pyc
*.pyo
*.so
*.egg-info/

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore secrets
.env
.env.*

# Ignore local DBs and logs
*.log
*.sqlite3
*.db
*.pid

# macOS stuff
.DS_Store
